﻿@model WebApplication2.Models.ItemDetails

<h3><u>Company Details</u></h3>
<br/>
@if (Model.Edit)
{
    using (Html.BeginForm("SaveDetails", "Home", FormMethod.Post))
    {
    <b>Domain Name:</b>@Html.TextBoxFor(m => m.Domain, new { @Value = Html.DisplayFor(m => m.Domain), @readonly = "readonly"})
    <b>Company Name:</b>@Html.TextBoxFor(m => m.Name, new { @Value = Html.DisplayFor(m => m.Name), @required = "required"})
    <b>Company Registration Number</b>@Html.TextBoxFor(m => m.RegNum, new { @Value = Html.DisplayFor(m => m.RegNum), @required = "required" })
    <b>Company Phone Number:</b>@Html.TextBoxFor(m => m.PhoneNum, new { @Value = Html.DisplayFor(m => m.PhoneNum), @required = "required" })
    <b>Company Email:</b>@Html.TextBoxFor(m => m.Email, new { @Value = Html.DisplayFor(m => m.Email), @required = "required" })
    <b>Company Address:</b>@Html.TextBoxFor(m => m.Address, new { @Value = Html.DisplayFor(m => m.Address), @required = "required" })
    <b>Owner Name:</b>@Html.TextBoxFor(m => m.OwnerName, new { @Value = Html.DisplayFor(m => m.OwnerName), @required = "required" })
    <b>Owner Phone Number:</b>@Html.TextBoxFor(m => m.OwnerPhoneNum, new { @Value = Html.DisplayFor(m => m.OwnerPhoneNum), @required = "required" })
    <b>Owner Email:</b>@Html.TextBoxFor(m => m.OwnerEmail, new { @Value = Html.DisplayFor(m => m.OwnerEmail), @required = "required" })
    <b>Owner Identity Card Number:</b>@Html.TextBoxFor(m => m.ICNum, new { @Value = Html.DisplayFor(m => m.ICNum), @required = "required" })
        <input type="submit" value="Save" />
    }
}
else
{
    using (Html.BeginForm("EditDetails", "Home", FormMethod.Post))
    {
    <b>Domain Name:</b>@Html.TextBoxFor(m => m.Domain, new { @Value = Html.DisplayFor(m => m.Domain), @readonly = "readonly" })
    <b>Company Name:</b>@Html.TextBoxFor(m => m.Name, new { @readonly="readonly" })
    <b>Company Registration Number</b>@Html.TextBoxFor(m => m.RegNum, new { @readonly = "readonly" })
    <b>Company Phone Number:</b>@Html.TextBoxFor(m => m.PhoneNum, new { @readonly = "readonly" })
    <b>Company Email:</b>@Html.TextBoxFor(m => m.Email, new { @readonly = "readonly" })
    <b>Company Address:</b>@Html.TextBoxFor(m => m.Address, new { @readonly = "readonly" })
    <b>Owner Name:</b>@Html.TextBoxFor(m => m.OwnerName, new { @readonly = "readonly" })
    <b>Owner Phone Number:</b>@Html.TextBoxFor(m => m.OwnerPhoneNum, new { @readonly = "readonly" })
    <b>Owner Email:</b>@Html.TextBoxFor(m => m.OwnerEmail, new { @readonly = "readonly" })
    <b>Owner Identity Card Number:</b>@Html.TextBoxFor(m => m.ICNum, new { @readonly = "readonly" })
        <input type="submit" value="Edit" />
    }
}
