﻿@{
    ViewBag.Title = "Cart";
}

<div style="padding-top:20px;" id="cartlist">
    <table style="border:solid 0.5px">
        <tr style="border:solid 0.5px">
            <th style="border:solid 0.5px">Domain Name</th>
            <th style="border:solid 0.5px">Validation and Subscription Fee</th>
            <th style="border:solid 0.5px">Renewal Fee</th>
            <th></th>

            @foreach (string item in ViewBag.cart as List<string>)
            {
            <tr>
                <td style="border:solid 0.5px">@item</td>
                @if (item.Substring(item.Length-2, 2).Equals("wo"))
                {
                    <td style="border:solid 0.5px; text-align:center">$99.99</td>
                    <td style="border:solid 0.5px; text-align:center">$88.88</td>
                }
                else
                {
                    <td style="border:solid 0.5px; text-align:center">$9.99</td>
                    <td style="border:solid 0.5px; text-align:center">$88.88</td>
                }

                @using (Html.BeginForm("RmCart", "Home", new { domain = @item }, FormMethod.Post))
                {
                    <td style="border:solid 0.5px; text-align:center"><input type="submit" value="Remove From Cart" id="rmv2btn" /></td>
                }
            </tr>
            }
            <tr>
                <td style="border:solid 0.5px; text-align:center"><b>Total:</b></td>
                <td style="border:solid 0.5px; text-align:center"><b>@ViewBag.sum[0]</b></td>
                
            </tr>
        </table>
        
        @using (Html.BeginForm("NewFillDetails", "Home", FormMethod.Post))
        {
            <input type="submit" value="CheckOut" id="checkoutbtn"/>            
        }
   
    </div>