﻿@model WebApplication2.Models.ItemDetails

@{ bool noproceed = false; }
@if (Session["cart"] as List<string> != null)
{
    List<string> cart = Session["cart"] as List<string>;
    var cartncd = cart.Zip(Model.detailList, (n, w) => new { Item = n, Detail = w });
    foreach (var nw in cartncd)
    {
        <div style="border:solid 1px">
            <table>
                <tr>
                    <td>@nw.Item</td>
                </tr>
            </table>
            @{string bustype = Session["entityType"] as string;
                if (bustype == "na")
                {
                    Html.RenderPartial("NonAssociationDetailsView", nw.Detail);
                }
                else
                {
                    Html.RenderPartial("CompanyDetailsView", nw.Detail);
                }
            }
        </div>
                }
                foreach (var item in Model.detailList)
                {
                    noproceed = item.Edit;
                    if (noproceed)
                    {
                        break;
                    }
                }
                if (!noproceed)
                {
                    using (Html.BeginForm("New", "Checkouts", FormMethod.Post))
                    {
                        <input type="submit" value="Proceed to payment" />
                        }
                    }
                }