﻿@{
    ViewBag.Title = "Search";
}
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<table>
    <tr>
        <td style="width:400px">
            <div>
                <h3>Select Entity Type</h3>
                @using (Ajax.BeginForm("SelectEntity", "Home", new AjaxOptions { HttpMethod = "POST" }))
                {
                    ;
                    <select name="entityType">
                        <optgroup label="Regulated Organizations">
                            <option value="company" label="Company" selected></option>
                            <option value="partnership" label="Partnership"></option>
                            <option value="soleproprietor" label="SoleProprietor"></option>
                        </optgroup>
                        <optgroup label="Regulated Professions">
                            <option value="barcouncil" label="Barcouncil"></option>
                            <option value="cpa" label="Certified Public Accountants (CPA)"></option>
                            <option value="pam" label="Pertubuhan Akitek Malaysia (PAM)"></option>
                        </optgroup>
                        <optgroup label="Individual">
                            <option value="na" label="Non-Associates"></option>
                        </optgroup>
                    </select>
                    <input type="submit" value="Select" />
                }
                @{ string entity = Session["entityType"] as string; }
                Entity Selected: <b>@entity</b>
            </div>
        </td>

    @if (!String.IsNullOrEmpty(Session["entityType"] as string))
    {
        <td style="width:400px">
            <div>
                <h3>@ViewBag.Message</h3>
                @using (Ajax.BeginForm("Search", "Home", new AjaxOptions { HttpMethod = "POST" }))
                {
                    <label for="plus">+</label>
                    <input type="text" name="search" id="search" required="required" placeholder="Enter domain name" pattern="^[A-Za-z0-9][A-Za-z0-9\-]{0,}([\.]{0,1}[A-Za-z0-9]{1,})?([A-Za-z0-9]{1,})" title="Must contain 1 to 63 characters\nCannot end or start with hyphen" maxlength="63" />
                    @Html.DropDownList("CountryCode", new SelectList(ViewBag.country))
                    <input type="submit" value="Search" id="btn" />
                }
            </div>
        </td>
        <td style="border:solid 1px">
            <div>
                <label>The gTLD available for Entity '@entity' are: </label>
                @foreach(var item in ViewBag.DisplayGTLD as List<string>)
                {
                    <br />@item
                }
            </div>
        </td>
    }
    </tr>
</table>

@if (!String.IsNullOrEmpty(Session["entityType"] as string))
{
<div style="margin-top:50px; overflow-x:auto;height:350px;width:700px" id="dnlist">
    <h5><b>@ViewBag.SearchStatus</b></h5>
    <table style="border:solid 0.5px">
        @if (ViewBag.Suggestion as List<string> != null && String.IsNullOrEmpty(ViewBag.Available_dn))
        {
            <tr style="border:solid 0.5px">
                <th style="border:solid 0.5px">Domain Name</th>
                <th style="border:solid 0.5px">Country</th>
                <th style="border:solid 0.5px">Validation and Subcription Fee</th>
                <th style="border:solid 0.5px">Renewal Fee</th>
                <th></th>
            </tr>
            foreach (string dn in ViewBag.Suggestion as List<string>)
            {
                <tr>
                    <td style="border:solid 0.5px">@dn</td>
                    <td style="border:solid 0.5px">@dn.Substring(dn.Length - 2, 2).ToUpper()</td>
                    @if (dn.Substring(dn.Length - 2, 2).Equals("wo"))
                    {
                        <td style="border:solid 0.5px; text-align:center">$99.99</td>
                        <td style="border:solid 0.5px; text-align:center">$888.88</td>
                    }
                    else
                    {
                        <td style="border:solid 0.5px; text-align:center">$9.99</td>
                        <td style="border:solid 0.5px; text-align:center">$88.88</td>
                    }

                    @if (ViewBag.cart.Contains(@dn))
                    {
                        using (Ajax.BeginForm("RemoveCart", "Home", new { domain = @dn }, new AjaxOptions { HttpMethod = "Post" }))
                        {
                            <td style="border:solid 0.5px"> <input type="submit" value="Remove From Cart" id="rmvbtn" /> </td>
                        }
                    }
                    else
                    {
                        using (Ajax.BeginForm("AddCart", "Home", new { domain = @dn }, new AjaxOptions { HttpMethod = "Post" }))
                        {
                            <td style="border:solid 0.5px"> <input type="submit" value="Add To Cart" id="addbtn" /> </td>
                        }
                    }
                </tr>
            }
        }
        else if (ViewBag.Suggestion as List<string> == null && !String.IsNullOrEmpty(ViewBag.Available_dn))
        {
            <tr style="border:solid 0.5px">
                <th style="border:solid 0.5px">Domain Name</th>
                <th style="border:solid 0.5px">Country</th>
                <th style="border:solid 0.5px">Validation and Subscription Fee</th>
                <th style="border:solid 0.5px">Renewal Fee</th>
                <th></th>
            </tr>
            <tr>
                <td style="border:solid 0.5px">@ViewBag.Available_dn</td>
                <td style="border:solid 0.5px">@ViewBag.Available_dn.Substring(@ViewBag.Available_dn.Length - 2, 2).ToUpper()</td>
                @if (ViewBag.Available_dn.Substring(@ViewBag.Available_dn.Length - 2, 2).Equals("wo"))
                {
                    <td style="border:solid 0.5px; text-align:center">$99.99</td>
                    <td style="border:solid 0.5px; text-align:center">$88.88</td>
                }
                else
                {
                    <td style="border:solid 0.5px; text-align:center">$9.99</td>
                    <td style="border:solid 0.5px; text-align:center">$88.88</td>
                }

                @if (ViewBag.cart.Contains(@ViewBag.Available_dn))
                {
                    using (Ajax.BeginForm("RemoveCart", "Home", new { domain = @ViewBag.Available_dn }, new AjaxOptions { HttpMethod = "Post" }))
                    {
                        <td style="border:solid 0.5px"> <input type="submit" value="Remove From Cart" id="rmvbtn" /> </td>
                    }
                }
                else
                {

                    using (Ajax.BeginForm("AddCart", "Home", new { domain = @ViewBag.Available_dn }, new AjaxOptions { HttpMethod = "Post" }))
                    {
                        <td style="border:solid 0.5px"> <input type="submit" value="Add To Cart" id="addbtn" /> </td>   
                    }
                }
            </tr>
        }
    </table>
</div>
}
<!--
<script type="text/javascript">
    function addCart(name) {
         $.ajax({
            type: "POST",
            url: "/Home/Ajax_AddCart",
            data: {domain: name},
            success: function () {
            },
            error: function () {
            }
        });
    }
</script>
    -->