﻿@{
    ViewBag.Title = "Validate";
}

<h2>Validate Company</h2>

<div style="padding-top:20px;" id="validatelist">
    <table style="border:solid 0.5px">
        <tr style="border:solid 0.5px">
            <th style="border:solid 0.5px">Dns Id</th>
            <th style="border:solid 0.5px">Domain Name</th>
            <th style="border:solid 0.5px">Country Code</th>
            <th style="border:solid 0.5px">Customer ID</th>
            <th style="border:solid 0.5px">Business Type</th>
            <th style="border:solid 0.5px">Status</th>

                @foreach (string[] temp_arr in ViewBag.validate as List<string[]>)
            {
                <tr>
                    <td style="border:solid 0.5px">@temp_arr[0]</td>
                    <td style="border:solid 0.5px">@temp_arr[1]</td>
                    <td style="border:solid 0.5px">@temp_arr[2].ToUpper()</td>
                    <td style="border:solid 0.5px">@temp_arr[3]</td>
                    <td style="border:solid 0.5px">@temp_arr[4]</td>
                    <td style="border:solid 0.5px">@temp_arr[5]</td>
                    @using(Html.BeginForm("Approve", "Admin", new { dname = @temp_arr[1], countryCode = @temp_arr[2]}, FormMethod.Post)) {
                        <td><input type="submit" value="Approve" id="btn" /></td>
                }
                    @using (Html.BeginForm("Reject", "Admin", new { dname = @temp_arr[1], countryCode = @temp_arr[2] }, FormMethod.Post))
                {
                        <td><input type="submit" value="Reject" id="btn" /></td>
                }
                </tr>
            }
            </table>
        </div>
